<div class="home__container">
    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="EXCLUSIVE"
    gameTitle="Digital PS4"
    gamePrice="R$ 399,90"
    
    ></app-card>

    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="DIGITAL"
    gameTitle="PC"
    gamePrice="R$ 399,90"
    ></app-card>

    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="DIGITAL"
    gameTitle="PC"
    gamePrice="R$ 399,90"
    ></app-card>

    <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="DIGITAL"
    gameTitle="PC"
    gamePrice="R$ 399,90"
    ></app-card>


    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="DIGITAL"
    gameTitle="PC"
    gamePrice="R$ 399,90"
    ></app-card>

</div>